* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: linear-gradient(135deg, #4e54c8, #8f94fb);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: white;
    width: 400px;
    padding: 25px;
    border-radius: 18px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #4e54c8;
}

.input-area {
    display: flex;
    gap: 10px;
}

#taskInput {
    flex: 1;
    padding: 10px 15px;
    border: 2px solid #4e54c8;
    border-radius: 10px;
    outline: none;
    font-size: 15px;
}

#addBtn {
    background: #4e54c8;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
}

#addBtn:hover {
    background: #3b40a1;
}

#taskList {
    margin-top: 20px;
    list-style: none;
}

#taskList li {
    background: #f1f1ff;
    padding: 12px 15px;
    border-radius: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    border-left: 5px solid #4e54c8;
}

.delete-btn {
    cursor: pointer;
    color: #ff4d4d;
    font-weight: bold;
}
